*{
    margin: 0;
    padding: 0;
    color: beige;
}

html, body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #1a1a1a;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.elem{
    height: 100px;
    width: 100%;
    /* background-color: beige; */
    border-bottom: 2px solid wheat;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    position: relative;

}

.elem h1{
    font-size: 70px;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}

 .elem img{
    height : 100px;
    width: 100px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.2s linear;
}   

